<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.example.demo.dao.UserMapper">
    <update id="updateUser">
        update user set
        username = #{username},
        cardid = #{cardid},
        email = #{email}
        where id = #{id}
    </update>

    <select id = "findUser" resultType = "com.example.demo.model.User">
        SELECT * FROM User WHERE ID = #{id}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, cardid, email)
        values (#{username}, #{cardid}, #{email})
    </insert>

    <delete id="deleteUser">
        delete from user where id = #{id}
    </delete>


</mapper>